<div class="col-md-2 friend-img">
	<%= image_tag("jwiebe.jpg") %>
</div>
<div class="col-md-5 friend-stat-1">
	<small class="text-muted">ID: <%= "#{thisChampObj[:id]}" %></small><br>
	<small class="text-muted">Name:  <%= "#{thisChampObj[:name]}" %></small><br>
	<small class="text-muted">Title: <%= "#{thisChampObj[:title]}" %></small><br>
</div>