/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */
@import "bootstrap-sprockets";
@import "bootstrap";

/* Universal Styles */

body {
  padding-top: 40px;
}


/* mixins, variables, etc. */

@mixin box_sizing {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}


/* header */

#logo {
	float: left;
	margin-right: 10px;
	font-size: 1.7em;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: -1px;
	padding-top: 9px;
	font-weight: bold;
	text-decoration: none;
	&:hover {
		color: #fff;
		text-decoration: none;
	}
}


/* forms */

input, textarea, select, .uneditable-input {
	border: 1px solid #bbb;
	width: 100%;
	margin-bottom: 15px;
	@include box_sizing;
	opacity: 0.7;
	&:hover {
		opacity: 1.0;
	}
}

input {
	height: auto !important;
}

#error_explanation {
	color: red;
	ul {
		color: red;
		margin: 0 0 30px 0;
	}
}

.field_with_errors {
	@extend .has-error;
	.form-control {
		color: $state-danger-text;
	}
}

.alert {
	margin-top: 10px;
	margin-bottom: 0px;
	text-align: center;
}

.authentication_form {
	position: fixed;
	width: 100%;
	height: 100%;
	background-image: image-url("login_bg.png");
	background-repeat: no-repeat;
	background-size: cover;
	padding-top: 20px;
	
	.form_container {
		margin-top: 6%;
		padding: 10px;
		background-image: image-url("ahri_lol_small.png");
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		border: 2px solid black;
		color: white;
		width: 700px;
	}

	img {
		max-width: 100%;

	}

	.checkbox {
		margin-top: -10px;
		margin-bottom: 10px;
		span {
			margin-left: 20px;
			font-weight: normal;
		}
	}
	#session_remember_me {
		width: auto;
		margin-left: 0;
	}
}



/* Navbar - Line starting here to end of document added by Sulai*/

.navbar-default {
  background-color: black;

  .navbar-collapse{
    .search-form{
      margin-top:10px;
    }   
  }
}


/* profile view */
.profile_view { 
  width: 100%;
 
  .profile_pic {
          float:left;
          margin-top:80px;
          margin-right:10px;
          margin-left:10px;

  }
  .profile_info {
    background-color: black;
    padding: 20px;
  }

  .summoner-id{
    color: white;
  }

  .bio-text{
    color: white;
    font-size: 1.3em;
  }

  img {
    position: absolute; 
    top: 0; 
    left: 0; 
    right: 0; 
    bottom: 0; 
    margin: auto; 
    min-width: 100%;
    min-height: 100%;
  }
} 

.spec-social {
	width:100%;
	height:100%;
	margin-left:10px;
	margin-right:10px;
	margin-top:10px;
	margin-bottom:10px;

	.header {
	  background-color: black;
	  color: white;
	  padding: 10px;
	  margin-left:10px;
	  border: 1px solid white;
    border-radius: 5px;
	}

	.stat{
	  font-size: 1.1em;
	  color:black;
	}

	.champ-stats{
	  border-style: solid;
    border-color: black;
    border-width: 1px;
    margin-left:10px;
    margin-top:10px;

	}
}
