/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */
@import "bootstrap-sprockets";
@import "bootstrap";

/* Universal Styles */

/* mixins, variables, etc. */

@mixin box_sizing {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}




/* forms */

input, textarea, select, .uneditable-input {
	border: 1px solid #bbb;
	width: 100%;
	margin-bottom: 15px;
	@include box_sizing;
	opacity: 0.7;
	&:hover {
		opacity: 1.0;
	}
}

input {
	height: auto !important;
}

#error_explanation {
	color: red;
	ul {
		color: red;
		margin: 0 0 30px 0;
	}
}

.field_with_errors {
	@extend .has-error;
	.form-control {
		color: $state-danger-text;
	}
}


.authentication_form {
	position: fixed;
	width: 100%;
	height: 100%;
	background-image: image-url("login_bg.png");
	background-repeat: no-repeat;
	background-size: cover;

	
	.form_container {
		margin-top: 5%;
		padding: 5px;
		background-image: image-url("ahri_lol_small.png");
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		border: 2px solid black;
		color: white;
	}

	img {
		max-width: 100%;

	}
}






/* Navbar - Line starting here to end of document added by Sulai*/

.navbar-default {
  background-color: black;

  .navbar-collapse{

    .search-form{
      margin-top:10px;
    }
    
  }
}

/* profile view */
.profile_view { 
  width: 100%;
 
  .profile_pic {
          float:left;
          margin-top:80px;
          margin-right:10px;
          margin-left:10px;
  }
    
   
      img {
    position: absolute; 
    top: 0; 
    left: 0; 
    right: 0; 
    bottom: 0; 
    margin: auto; 
    min-width: 100%;
    min-height: 100%;
  }
} 
.spec-social {
	width:100%;
	height:100%;
	margin-left:10px;
	margin-right:10px;
	margin-top:10px;
	margin-bottom:10px;
}
