// Place all the styles related to the Profiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/* General */

/* profile view */
.profile-overview {
  margin-top: 10px;
  border: 3px solid white;
  border-radius: 20px;
  background-color: black;
  color: white;

  .summoner-header {
    margin: 6px 0px 6px 0px;
    text-align: center;
    color: #E5DFC5;
  }

  .summoner-header h1 {
    width: 50%;
    display: inline-block;
  }

  .edit-button {
    margin: 15px 15px;
  }

  img {
    min-width: 100%;
    min-height: 100%;
  }
  
  .profile-pic {
    margin-left: 20px;
    width: 200px;
	}
	
	.profile-info {
    margin-bottom: 8px;

		.bio-text {
	    font-size: 1.5em;

      td {
        padding-left: 20px;
      }
      th {
        color: #91C7A9;
      }
	  }

    .bio-table-left {
      float: left;
    }
	}
}

td {
	vertical-align: top;
}

.header {
  background-color: black;
  color: white;
  padding: 10px;
  margin: 20px 0px 20px 10px;
  border: 1px solid black;
}



.spec-social {
	width:100%;
	height:100%;

  .champions-header {
    margin-right: 20px;
    color: #E5DFC5;
  }

	.stats-table {
    width: 100%;
    border-collapse: collapse;

    .champ-img {
      padding-left: 4.5px;
      width: 20px;
      padding-right: 4.5px;
      vertical-align: middle;
    }

    .right-stat {
      padding-right: 8px;
    }

    .champ-row {
      border: 1px solid black;
    }

   	.stat {
		  font-size: 1.2em;
		  line-height: 1.5;
	  }
  }
}
.invitation-page {
  margin-top: 110px;
  position: absolute;
  top: 0;
  width: 90%;
  height: 50%;
  background-image: image-url("login_banner_small.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 20px;
}
.search_to_invite, .invite {
  margin: 250px 0px 0px 650px;
  .feedback {
    display: none;
    padding-top: 40px;
    font-size: 1.2em;
    color: red;
  }
  .field {
    background-color: black;
    padding-top: 10px;
    border-color: black;
    }
  #sbmt-btn, #send-btn {
    margin-top: 10px;
    border-radius: 10px;
    display: none;
  }
  .email {
    display: none;
  }
  .invitation-form, .email-form {
    margin-left: 15px;
  }
  .header {
    background-color: black;
    color: white;
    padding: 10px;
    margin: 20px 0px 20px 10px;
    border: 1px solid black;
    border-radius: 10px;
    text-align: center;
    font-size: 1.7em;
  }
}